.home {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home__top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b5b5b5;
}

.home__top-container_title {
  font-size: 84;
  font-weight: 900;
  line-height: 110%;
  color: white;
  margin: 345px auto 337px 309px;
}

.home__middle-container {
  margin-right: 300px;
  position: relative;
  margin: 104px auto;
  height: fit-content;
  display: flex;
  align-items: center;
  background-image: url('https://i.ibb.co/nNRW1LQs/soundwave-img.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(100% + 50px) center;
}

.home__middle-container_header {
  margin-right: 20px;
  width: 310px;
  height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__middle-container_header-title {
  margin: 0;
  color: white;
  font-size: 48px;
  font-weight: 800;
  line-height: auto;
}

.home__middle-container_header-description {
  margin: 14px 0 0 0;
  color: #b5b5b5;
  font-size: 16px;
  line-height: auto;
}
