.home {
  margin: 0 auto;
  max-height: 1024px;
}

.home__top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b5b5b5;
}

.home__top-container_title {
  font-size: 84;
  font-weight: 900;
  line-height: 110%;
  color: white;
  margin: 345px auto 337px 309px;
}
