@import url('../node_modules/normalize.css/normalize.css');
@import url('./components/Header/Header.css');
@import url('./components/Footer/Footer.css');
@import url('./pages/NotFound/NotFound.css');
@import url('./pages/Home/Home.css');
@import url('./components/AlbumSlider/AlbumSlider.css');
@import url('./components//SocialsPopup/SocialsPopup.css');
@import url('./components/Hero/Hero.css');
@import url('./components/Albums/Albums.css');
@import url('./components/Studio/Studio.css');
@import url('./components/StudioFeatures/StudioFeatures.css');

body {
  margin: 0 auto;
  max-width: auto;
  min-width: 320px;
  min-height: 100vh;
  background-color: #181518;

  font-family: 'SourceSans', 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
  color: inherit;
}

hr {
  margin: 0;
  color: #b5b5b5;
}
