@import url('./components/Header/Header.css');

body {
  margin: 0 auto;
  max-width: 2048px;
  min-width: 320px;
  min-height: 100vh;
  background-color: #181518;

  font-family: 'SourceSans', 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
