.policy {
  margin: 0 auto;
  width: 100%;
  padding: 100px 80px 50px 80px;
  display: flex;
  flex-direction: column;
}

.policy-header {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.policy-header__title {
  font-size: 48px;
  font-weight: 700;
  color: #cfab82;
}

.policy-header__container {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.policy-header__subtitle {
  font-size: 28px;
  color: #fff;
}

.policy-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-bottom: 45px;
}

.policy-content__title {
  padding-bottom: 12px;
  font-size: 36px;
  font-weight: 600;
  color: #8a715a;
}

.policy-content__paragraph,
.policy-content__list-item {
  font-size: 24px;
  color: #fff;
}

.policy-content__paragraph--bottom {
  padding-top: 12px;
}

.policy-content__paragraph span {
  color: #cfab82;
}

.policy-content__list {
  margin: 0;
  padding-top: 12px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.policy-content__list-item::marker {
  color: #cfab82;
}

@media (max-width: 480px) {
  .policy {
    padding: 80px 0 36px 5px;
  }

  .policy-header {
    margin-bottom: 28px;
  }

  .policy-header__title {
    font-size: 28px;
  }

  .policy-header__container {
    flex-direction: column;
    gap: 10px;
  }

  .policy-header__subtitle {
    font-size: 16px;
    text-align: center;
  }

  .policy-content {
    padding-bottom: 26px;
  }

  .policy-content__title {
    font-size: 24px;
  }

  .policy-content__paragraph,
  .policy-content__list-item {
    font-size: 14px;
  }

  .policy-content__list {
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .policy {
    padding: 90px 24px 40px 10px;
  }

  .policy-header__title {
    font-size: 38px;
  }

  .policy-header__subtitle {
    font-size: 22px;
  }

  .policy-content__title {
    font-size: 26px;
  }

  .policy-content__paragraph,
  .policy-content__list-item {
    font-size: 16px;
    width: 95%;
  }
}

@media (min-width: 769px) and (max-width: 1440px) {
  .policy {
    padding-left: clamp(32px, 6vw, 80px);
    padding-right: clamp(32px, 6vw, 80px);
  }
}

@media (min-width: 1441px) and (max-width: 2560px) {
}

@media (min-width: 2561px) {
  .policy {
    max-width: 1920px;
  }
}
