.terms {
  margin: 0 auto;
  width: 100%;
  padding: 100px 80px 50px 80px;
  display: flex;
  flex-direction: column;
}

.terms-header {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.terms-header__title {
  font-size: 48px;
  font-weight: 700;
  color: #cfab82;
}

.terms-header__container {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.terms-header__subtitle {
  font-size: 28px;
  color: #fff;
}

.terms-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-bottom: 45px;
}

.terms-content__title {
  padding-bottom: 12px;
  font-size: 36px;
  font-weight: 600;
  color: #8a715a;
}

.terms-content__paragraph,
.terms-content__list-item {
  font-size: 24px;
  color: #fff;
}

.terms-content__paragraph--bottom {
  padding-top: 12px;
}

.terms-content__paragraph span {
  color: #cfab82;
}

.terms-content__list {
  margin: 0;
  padding-top: 12px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.terms-content__list-item::marker {
  color: #cfab82;
}
