.terms {
  margin: 0 auto;
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.terms-header__title {
  font-size: 48px;
  font-weight: 700;
  color: #cfab82;
}

.privacy-header__container {
  display: flex;
  align-items: center;
  gap: 35px;
}

.privacy-header__subtitle {
  font-size: 28px;
  color: #fff;
}

.terms-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.terms-content__title {
  font-size: 36px;
  font-weight: 600;
  color: #8a715a;
}

.terms-content__paragraph,
.terms-content__list-item {
  font-size: 24px;
  color: #fff;
}

.terms-content__paragraph span {
  color: #cfab82;
}

.terms-content__list {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.terms-content__list-item::marker {
  color: #cfab82;
}
